.aboutMeSection{
    text-align: center;
    margin: 10%;
    
}
.containerForRow {
    background-color: white;
    margin: 10%;
    border-radius: 25px;
    margin-top: 5%;

}
.headshot {
    float: left;
    width: 30%;
    padding-left: 5%;
    padding-right: 2%;
    padding-top: 2%;

}
p {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}