h1{
    text-align: center;
    margin-bottom: 10%;
    
}
img{
    padding: 10px;
    border-radius: 15px;
    
}
.aProject{
    width: 40%;
    background-color:#007bff;
    margin: 4%;
    border-radius: 15px;
    float: left;
    margin-left: 6%;
    
    
}
.projectTitle{
    color: white;
    padding: 10px;
    text-align: center;
    
}

.containerForRow{
    padding: 10px;
    background: white;
    
    
    
}

