
img{
    padding: 10px;
    border-radius: 15px;
}
.aProject{
    width: 40%;
    background-color:#007bff;
   
    margin: 10px;
    border-radius: 15px;
}
.projectTitle{
    color: white;
    padding: 10px;
    text-align: center;
    
}
h1{
    text-align: center;
}
